body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  background-color: #17181c;
  overflow-x: hidden;
  transition: 0.36s;
  padding-top: 20px;
  opacity: 98%;
}


.net_header{
  color: #e0e0e0;
  position: absolute;
  margin-left: 18%;
  margin-top: 4px;
}

.delete-net{

  position: absolute;
  margin-left: 46%;
  margin-top: 4px;
  background-color: #444;
  opacity: 10%;
  color: white;
}

.delete-net:hover{
  color: white;
  background-color: #444;
  opacity: 50%;
}

.chat_header{
  color: #e0e0e0;
  position: absolute;
  margin-left: 18%;
  margin-top: 4px;
}

.sidebar a {
  padding: 8px 8px 0px 20px;
  text-decoration: none;
  font-size: 16px;
  color: #e0e0e0;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #595959;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  border: 0;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 8px 15px;
  border-radius: 10px;
  color: rgba(0,0,0,0);
  text-shadow: 0 0 0 #e0e0e0;
}

.openbtn:hover {
  background-color: #444;
}

.openusrbtn {
  border: 0;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  right: 8px;
  background-color: #111;
  color: white;
  padding: 8px 15px;
  border-radius: 10px;
  color: rgba(0,0,0,0);
  text-shadow: 0 0 0 #e0e0e0;
  position: absolute;
}

.openusrbtn:hover {
  background-color: #444;
}

.adminbutton {
    position: absolute;
    bottom: 200px;
    padding-left: 20px;
    background-color: #637e75;
    color:white;
}

.adminbutton:hover {
  background-color: #444 !important;
  color: white;
}

.logout {
    position: absolute;
    bottom: 100px;
    padding-left: 20px;
    background-color: #601a1a; 
    color:white;
}

.logout:hover {
  background-color: #280b08 !important;
  color: white;
}

.profilebutton{
    position: absolute;
    bottom: 300px;
    padding-left: 20px;
    background-color:#637e75; 
    color:white;
}

.profilebutton:hover{
  background-color: #444 !important;
  color: white;
}

.dmbutton{
    position: absolute;
    bottom: 250px;
    padding-left: 20px;
    background-color: #637e75;
    color: white;
}

.dmbutton:hover{
  background-color: #444 !important;
  color: white;
}

.netbutton{
    position: absolute;
    bottom: 250px;
    padding-left: 20px;
    background-color: #637e75;
    color:white;
}

.createnet{
  position: absolute;
  margin-top: 20px;
}

.netbutton:hover{
    background-color: #444 !important;
}

#main {
  transition: margin-left .5s;
  padding: 5px;
}

.nets-section{
  max-height: 35vh;
  overflow-y: auto;
}

.user-sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 60px;
  right: 0;
  background-color: #17181c;
  overflow-x: hidden;
  transition: 0.36s;
  padding-top: 20px;
  opacity: 98%;
}

.user-sidebar a {
  padding: 8px 8px 0px 20px;
  text-decoration: none;
  font-size: 16px;
  color: #e0e0e0;
  display: block;
  transition: 0.3s;
}

.user-sidebar a:hover {
  color: #595959;
}

.users-list{
  max-height: 100vh;
  overflow-y: auto;
}

.directmessage-section{
  max-height: 45vh;
  overflow-y: auto;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {

  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}

  .user-sidebar {padding-top: 15px;}
  .user-sidebar a {font-size: 18px;}
}