/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1e23; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #111; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


form.image_form{
    opacity: 0%;
}

div.chat-log {
    min-height: 72vh;
    max-height: 75vh;
    max-width: 99%;
    height: 30%;
    overflow-wrap: break-word;
    overflow-y: auto;
    text-align: left;
    font-size: 14px;
    position: relative;
}

img.image_message{
    margin-left: 60px; !important
    /*max-height: 300px;*/
    /*height: 70%;*/
    width: auto;
    max-width: 50%;
    padding-bottom: 20px;
    padding-top: 20px;
}

div.middle-div{
    background-color: #1d1e23;
    border-radius:10px;
    margin-bottom: 20px;
    overflow: visible;
}

div.centered-div{
   max-height: 90vh;
}

div.chat-message-input{
    background-color:#111; 
    border-color:#626263; 
    color:white;
    max-width: 100%;
    border: 0;
    outline: none;
    border-radius: 8px;
    margin-left: 70px;
    margin-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    word-wrap: break-word;
}

div.input-holder{
    margin-bottom: 3px;
    background-color:#111;  
    border-radius: 12px;
    margin-top: 35px;
}

button.chat-message-submit{
    border-radius: 7px;
    text-align: center;
    border: 0;
    outline: none;
    background-color: #ce650a;
    color: white;

}

p.message{
    color: #c9c9c9;
    margin-left: 60px;
    margin-bottom: 5px;

}


.chat-message-input:empty:before {
    content: attr(placeholder);
    opacity: 30%;
}

button.addimage{
    height: 25px;
    width: 25px;
    float:left;
    border-radius: 30px;
    text-align: center;
    border: 0;
    outline: none;
    margin-top: 7px;
    margin-left: 10px;
    background-color:#494949;
    color: white;
}

button.delete-message{

    /* Design */
    border: 0;
    outline: none;
    border-radius: 30px;
    text-align: center;
    
    /* Colors  */
    background-color:#494949;
    color: white;
    opacity: 1%;


}

button.delete-message:hover{

    opacity: 40%;
    background-color:#111;
    color: red;

}

#message-container{
    display:inline;
}


.attachment{
    float:left;
    border: 0;
    outline: none;
    margin-top: 10px;
    margin-left: 10px;
}

.username{
    font-size: 14px;
    color: #637e75;
}

.datesent{
    font-size: 9px;
    color: #595959;
}

.createnetbtn{
    color: white;
    background-color: #637e75 !important;
}

.createnetbtn:hover{
    background-color: #3c514a !important;
}

.modal-body{
    border: none;
}

.modal-header{
    border: none;
}

.modal-footer{
    border: none;
}

#id_title{
    color: white;
    background: #111;
    border: none;
}