# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/
seshnet/.env
media/

.DS_Store
Pipfile.lock
Pipfile

message_images/

# Sublime Text # 
*.tmlanguage.cache 
*.tmPreferences.cache 
*.stTheme.cache 
*.sublime-workspace 
*.sublime-project 

# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
