{% extends 'nets/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<head>
    <title>{{net_name}}</title>

    <style>
      div.chat-log {
        background-color: ;
        max-height: 80%;
        height: 600px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: left;
      }
    </style>
</head>


<body>

    <div class='row m-0'>

        <!-- Buffer to center content -->
        <div class='col-sm-2 main_wrap' style="overflow: hidden;"></div>


        <!-- Centered Content -->
        <div class='col-sm-8' style="overflow: hidden;">

            <div class="bg-dark text-light">
                <h4 style="margin-left:20px;">{{net_name}}</h4>
            </div>
            <br>


            <div class="chat-log" id="chat-log"></div>

            <input id="chat-message-input" type="text" size="105" style="border-radius:10px;" contenteditable="True"><input id="chat-message-submit" type="button" value="Send" style=""></input><br>
                   

        
        </div>


        <!-- Buffer to center content -->
        <div class='col-sm-2'></div>


{{ net_id|json_script:"net-id" }}


<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js" integrity="sha512-SxQulwFs2B38bmUJtBSo9tD07MDrtCbY8me3AOZ14tRknCPTeMDLvCQV4ekhs8R0o9QPnW5HQanKfveexVcwLA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>


    function loadImage() {
       objDiv.scrollTop = objDiv.scrollHeight;
    }

    var objDiv = document.getElementById("chat-log");


    // scrolls to bottom of chat log when loading the page
    window.onload=function () {
        var objDiv = document.getElementById("chat-log");
        objDiv.scrollTop = objDiv.scrollHeight;
    }


    // Display older messages
    {% for message in messages %}
        document.getElementById('chat-log').innerHTML += '<small>{{ message.author }}</small><small> @{{ message.date_sent }}</small><br>'
        document.getElementById('chat-log').innerHTML += '{{ message.content|urlize}}';
        document.getElementById('chat-log').innerHTML += '<hr style="opacity:5%;">'
    {% endfor %}


    const netID = JSON.parse(document.getElementById('net-id').textContent);

    console.log(netID);

    const chatSocket = new ReconnectingWebSocket(
        'ws://'
        + window.location.host
        + '/ws/net/'
        + netID
        + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.getElementById('chat-log').innerHTML += ('<small>' + 'Usernamegoeshere' + '</small><small> @' + data.date_sent + '</small><br>')
        document.getElementById('chat-log').innerHTML += (data.message + '<br>');
        document.getElementById('chat-log').innerHTML += '<hr>';

        // On-send, scroll to bottom of chat-log
        objDiv.scrollTop = objDiv.scrollHeight;
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'user_id': '{{ user.id }}',
            'net_id': '{{ net_id }}'
        }));
        messageInputDom.value = '';

        objDiv.scrollTop = objDiv.scrollHeight;
    };
</script>

{% endblock content %}