{% load crispy_forms_filters %}

<head>
	<meta charset="UTF-8">
	
	<!-- For mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<!-- For icons -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

	<!-- JQUERY -->
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

	<!-- Toggle button -->
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

</head>

<header>
	<title>Seshnet</title>
</header>


<style>

.main{
	border-radius: 30px;
}

.main:hover{
	background-color:background-color: #444 !important;
}

.profile-pic{
	border-radius: 1000px;
	width: 200px;
	height: 200px;
}

.contain{
	position:relative;
}

.image-text{
	top:70;
    left:70;
    position: absolute;
    opacity: 40%;
}

#id_image{
	border-radius: 100px;
	border: None;
	color: white;
	background-color:#ce650a;
}

.profile_submit{
	background-color: #ce650a; 
	color: white; 
	float:right;
	border-radius: 20px;
}

.profile_submit:hover{
	color: white;
	background-color: #111;
}

.typing_indicator{
/*	color: white;
	background-color: white;*/
}

/*.toggle.ios, .toggle-on.ios, .toggle-off.ios { : white; }*/

</style>
<!-- Top Nav -->
<nav id ="main" class="navbar navbar-expand-lg navbar-light bg-dark" style="opacity:98%; height:">
	<div class="container-fluid">
		{% if user.is_authenticated %}
			<button class='btn main' style='background-color: #ce650a; color: white;' onclick="location.href='{% url 'net_index' %}'">Back to Seshnet</button>
		{% else %}
			<button class='btn main' style='background-color: #ce650a; color: white;' onclick="location.href='{% url 'login' %}'">Login</button>
		{% endif %}
	</div>
</nav>

<body style="background-color:#17181c;">

<div class='row m-0'>

    <!-- Buffer to center content -->
    <div class='col-sm-2 main_wrap' style="overflow: hidden;"></div>

    <!-- Centered Content -->
    <div class='centered-div col-sm-8' style="overflow: hidden; color:white; background-color:#17181c;">


		<h1 style="color:white;">Your Profile</h1>
		<hr style="background-color: white;">
		
		<div class="contain">
		<button style="background-color:#17181c; border: None; margin-bottom: 30px;" onclick="chooseFile()"><img class="img profile-pic" src="{{ user.profile.image.url }}"><i class="icon-camera image-text icon-4x"></i></button>
		</div>

		<h3 style="color:white;">Username: {{ user.username }}</h3>
		<p style="color:white;">Role: {{ user.profile.role }}</p>

        <!-- This form is for images uploads and is hidden -->
        <form method="POST" id="profileupdate" enctype="multipart/form-data" hidden>
            {% csrf_token %}
            {{ profile_update|crispy }}
            <button class='btn profile_submit' type="submit" id="submit_form">Update</button>
        </form>

        <!-- Typing indicator toggle -->
        {% if user.profile.typing_indicator %}
        	<p class="typing_indicator">Let others see when you are typing <input checked type="checkbox" id ="typing_indicator" data-toggle="toggle" data-onstyle="warning" data-offstyle="danger"></p>
        {% else %}
        	<p class="typing_indicator">Let others see when you are typing <input type="checkbox" id ="typing_indicator" data-toggle="toggle" data-onstyle="warning" data-offstyle="danger"></p>
        {% endif %}

        <p id="attch-chosen" hidden>A New profile picture has been selected.<br> Click "Update" to save.</p>

        <button class='btn profile_submit' onclick="submitForm()">Update</button>

	</div>

    <!-- Buffer to center content -->
    <div class='col-sm-2'></div>

</div>

<script>

// console.log('{{ user.profile.typing_indicator }}')

function chooseFile(){
	document.getElementById('id_image').click()
};

$('#id_image').on('change', function(){
    //TODO 
    document.getElementById('attch-chosen').removeAttribute("hidden")
    console.log('Attachment Chosen')
})

function submitForm(){
	document.getElementById('id_typing_indicator').checked = document.getElementById('typing_indicator').checked
	document.getElementById('submit_form').click()
};

</script>
</body>