
{% extends 'nets/base.html' %}
{% load crispy_forms_filters %}


{% block content%}
<div class="container">
<form method="POST">
	{% csrf_token %}
	<fieldset class="">
		<legend class=''>Sign Up for Seshnet</legend>
		{{ form|crispy }}
	</fieldset>
	<div>
		<button class = 'btn' style='background-color: #ce650a; color: white;' type="Submit">Sign Up</button>
	</div>

	<div>
		<small>
		Already have an account? <a href="{% url 'login' %}">Log in</a>
		</small>
	</div>
</form>
</div>
{% endblock content %}