.main{
	border-radius: 30px;
	background-color: #637e75;
	color: white;
}

.main:hover{
	color: black;
}

.save{
	border-radius: 10px;
	background-color: #637e75;
	color: white;
	margin-top: 25px;
	border: None;
	height: 35px;
	width: 60px;
	text-align: center;
}

.save:hover{
	color: white;
	background-color:#3c514a!important;
	/*box-shadow: 3px 3px 3px orange !important;*/
}

#id_role{
	max-width: 20vh;
	background-color: black;
	color: white;
	border: None;
}